<div class="navbar">
  <h1>Rick y Morty</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/busqueda" routerLinkActive="active">Búsqueda</a></li>
      <li><a routerLink="/informacion" routerLinkActive="active">Información</a></li>
      <li><a routerLink="/favoritos" routerLinkActive="active">Favoritos</a></li>
      <li><a routerLink="/inicio-sesion" routerLinkActive="active">Inicio Sesión</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
