<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información de la API</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="info-container">
  <h1>Información de la API</h1>
  <p>Esta aplicación utiliza la API de Rick and Morty para obtener información sobre los personajes de la serie.</p>
  <h2>Endpoint utilizado</h2>
  <p><strong>Personajes:</strong> <a href="https://rickandmortyapi.com/api/character" target="_blank" class="api-link">https://rickandmortyapi.com/api/character</a></p>
  <h2>Más información</h2>
  <p>Para más detalles sobre la API, visita su página oficial:</p>
  <a href="https://rickandmortyapi.com/" target="_blank" class="api-link">Ir a la API</a>
</div>
<div class="rickinillo">
  <img src="img/PickleRick.webp">
</div>
</body>
</html>
